@media screen and (max-width: 576px) {
  /* HOME PAGE */
  #map,
  #restaurants-list {
    width: 100%;
  }

  .filter-options h2 {
    font-size: 1em;
  }

  .filter-options select {
    width: 45%;
    margin: 5px;
    padding: 0;
  }

  #restaurants-list li {
    width: 100%;
  }

  /* RESTAURANT DETAILS */
  .restaurant-main #map-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 140px 0 0;
    order: 0;
  }

  #restaurant-container {
    order: 1;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #333333;
  }

  #restaurant-name {
    align-self: flex-start;
    margin: 30px 0 15px;
    transform: translateX(8%);
  }

  #reviews-container {
    order: 2;
    width: 100%;
  }

  #reviews-container h4 {
    text-align: center;
  }
}